.error {
  color: red !important;
}

input.error {
  border-color: red;
}

textarea.error {
  border-color: red;
}

input.error:focus {
  border: 1px solid red;
}

input:focus {
  border: 1px solid transparent;
}

[type=email]:focus,
[type=text]:focus,
textarea:focus {
  --tw-ring-color: #d6d5d5;
  border-color: #d6d5d5;
}